/* page.module.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Fredoka+One&family=Luckiest+Guy&family=Bangers&family=Poppins:wght@400;600&display=swap');
.main{
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.35rem;
}
.title {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
}

.cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.status {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.board {
  display: flex;
  
}

.boardM {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 2rem;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
}
.square:hover{
  background-color: rgb(36, 36, 57);
}

.button {
  background: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
  transition: 1s;
  font-family: 'Luckiest Guy', cursive; 
  letter-spacing: 0.2rem;
}

.button:hover {
  background: rgb(36, 36, 57);
}
